{include  file="./public/common/admintop.html"/}
<meta charset="utf-8">
<center>
<br><br>

 <FORM action="{:url('perfume/addPerfume')}" method="post" enctype="multipart/form-data">
   <table style="width:550px;border-width:2px;border-style:dotted;">
   <tr>
   <a href="{:url('perfume/index')}">返回</a>
   <td colspan=2 style="background:url('image/ico_60.jpg'); text-align:center; width:650px;">
   <font size=4>添加香水</font>&nbsp;&nbsp;
   </td>   
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>编号：</font></td>   
   <td><input type=text name="perfumeID" SIZE=18></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>名称：</font></td>   
   <td><input type=text name="pname" SIZE=18></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>性别：</font></td>   
   <td><Select name="myclass" >
                     <Option value="男香">男香
                     <Option value="女香">女香
                     <Option value="中性香">中性香
                     <Option value="非性别化香">非性别化香
                   </Select> 
   </td>  
   </tr> 
   <tr>
   <td style="text-align:right"><font size=2>香调：</font></td>   
   <td><Select name="pclass" >
                     <Option value="花香调">花香调
                     <Option value="木质香调">木质香调
                     <Option value="东方香调">东方香调
                     <Option value="美食调">美食调
                     <Option value="果香调">果香调
                     <Option value="馥奇香调">馥奇香调
                   </Select> 
   </td>  
   </tr>
    <tr>
   <td style="text-align:right"><font size=2>品牌</font></td>   
   <td><Select name="pclass1" >
                     <Option value="香奈儿">香奈儿
                     <Option value="宝格丽">宝格丽
                     <Option value="范思哲">范思哲
                     <Option value="迪奥">迪奥
                     <Option value="华伦天奴">华伦天奴
                     <Option value="古驰">古驰
                     <Option value="爱马仕">爱马仕
                     <Option value="芬迪">芬迪
                     <Option value="路易威登">路易威登
                     <Option value="雅诗兰黛">雅诗兰黛
                     <Option value="祖玛珑">祖玛珑
                     <Option value="王薇薇">王薇薇
                     <Option value="蔻驰">蔻驰
                     <Option value="YSL">YSL
                     <Option value="穆勒">穆勒
                     <Option value="洛丽塔">洛丽塔
                     <Option value="唐娜·凯伦">唐娜·凯伦
                     <Option value="博柏利">博柏利
                     <Option value="阿蒂仙之香">阿蒂仙之香
                     <Option value="娇兰">娇兰
                   </Select> 
   </td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>前调：</font></td>   
   <td><TextArea name="qiandiao" Rows="2" Cols="40"></TextArea></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>中调：</font></td>   
   <td><TextArea name="zhongdiao" Rows="2" Cols="40"></TextArea></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>后调：</font></td>   
   <td><TextArea name="houdiao" Rows="3" Cols="40" ></TextArea></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>简介：</font></td>   
   <td><input type=text name="shuoming" SIZE=40></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>原价：</font></td>   
   <td><input type=text name="price" SIZE=18></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>现价：</font></td>   
   <td><input type=text name="yourprice" SIZE=18></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>最小图片：</font></td>
   <td><input type="file" name="pictures" size="24"> </td>
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>图片：</font></td>
   <td><input type="file" name="picturem" size="24"> </td>
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>大图片：</font></td>
   <td><input type="file" name="pictureb" size="24"> </td>
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>详细介绍：</font></td>
   <td><input type="file" name="pictured" size="24"> </td>
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>材料图片：</font></td>
   <td><input type="file" name="pingpaipicture" size="24"> </td>
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>包装图片：</font></td>
   <td><input type="file" name="ylpicture" size="24"> </td>
   </tr>
   <tr>
   <tr>
   <td style="text-align:right"><font size=2>是否特价：</font></td>   
   <td><Select name="tejia" >
                     <Option value="是" selected>是
                     <Option value="否">否
                   </Select> 
   </td>  
   </tr>  
   <tr>
   <td colspan=2 style="text-align:center"><INPUT type="submit" name="s" value="提交"></td></tr>
   </table>
   </FORM>
</center>