
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<style type="text/css">
		.box{
				background-image:url(__ROOT__/public/static/image/background.png);
			background-size: cover;
            }
           
	</style>
</head>
<body>
<center>
<div class="box">
{include  file="./public/common/admintop.html"/}
<div class="content" style="font-family:Arial; font-size:40px;">
香谷之旅后台欢迎您！
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</center>
</BODY>
</HTML>