{include  file="./public/common/top.html"/}
<meta charset="utf-8">
<head>
    <title>香谷之旅 </title>
    <link href="__ROOT__/public/static/css/StyleIndex.css" rel="Stylesheet" type="text/css" />
    <style>
	/*---详情页-----*/
	.detail{
		font-weight:bold;
		font-size:medium;
		height:40px;
		line-height:100px;
		text-align:center;
	}
	</style>
</head>
<center>
 <table style='width:999px;align:center;'>
     <tr>
        <td rowspan=7 width=200>
         <img src="__ROOT__/public/static/picture/{$perfume.pictureb}"></td>
        <td colspan=2 align=center><div style='font-weight:bold;font-size:25;height:40px;line-height:40px;color:#000000;text-align:center;border-width:1px; border-style:solid;border-color:#D4B684;'>
           {$perfume.pname}</div></td>          	
     </tr>
     <tr >
       <td width=80 style='font-weight:bold;text-align:center;'><font size=2>前调：</font></td>
       <td><font size=2>{$perfume.qiandiao}</font></td> 
     </tr>
     <tr>
     	<td width=80 style='font-weight:bold;text-align:center;'><font size=2><font size=2>中调：</font></td>
     	<td><font size=2>{$perfume.zhongdiao}</font></td>
     </tr>
    <tr>
     	<td width=80 style='font-weight:bold;text-align:center;'><font size=2><font size=2>后调：</font></td>
     	<td><font size=2>{$perfume.houdiao}</font></td>
     </tr>
     <tr>
     	<td width=80 style='font-weight:bold;text-align:center;'><font size=2><font size=2>简介：</font></td>
     	<td><font size=2>{$perfume.shuoming}</font></td>
     </tr>
     <tr>
     	<td colspan=2>
     	<div style='margin-left:15px;text-align:left;font-size: medium; color: #000066;'>
     	<div style='text-decoration:line-through;margin-top:8px;color:grey'>原价:￥{$perfume.price}</div>
     	现价：<font size=4 color=brown><b>￥{$perfume.yourprice}</b></font></div>
     	</td>
     </tr>
     <tr>
     	<td colspan=2>
     		<a href='{:url('cart/addCart')}?perfumeID={$perfume.perfumeID}'>
     			<img src='__ROOT__/public/static/image/addCart.png' style="margin-left:10px;width:140px;height:60px">
     		</a>
     	</td>
     </tr>
     <tr class="detail">
     	<td colspan=3 align="center"><font size=6>香水细节图</font></td>
     </tr>
     <tr><td colspan=3 align="center"><img src="__ROOT__/public/static/picture/{$perfume.pictured}" border=0></td></tr>
     <tr class="detail">
     	<td colspan=3 align="center"><font size=6>香水的主要原料</font></td>
     </tr>
     <tr><td colspan=3 align="center"><img src="__ROOT__/public/static/picture/{$perfume.ylpicture}" border=0></td></tr>
     <tr class="detail">
     	<td colspan=3 align="center"><font size=6>所属品牌：{$perfume.pclass1}</font></td>
     </tr>
     <tr><td colspan=3 align="center"><img src="__ROOT__/public/static/picture/{$perfume.pingpaipicture}" border=0></td></tr>
 </table>

<table style='width:999px;font-weight:bold;border:1px solid;align:center;height:60px;'>
<tr><td style='font-size:30;text-align:center'>用户评价</td></tr>
</table>
<!--评价循环开始 -->
<!--<table style='width:999px;font-size:small;font-color:grey;border-width:1px;border-style:solid;align:center;height:120px;'>
<tr><td><i>暂无用户评价</i></td></tr>
</table>-->
{foreach $shoplists as $shoplist}
<table style='width:999px;font-size:small;border-width:1px;border-style:solid;align:center;height:120px;'>
<tr>
<td width=130 rowspan=2><img src='__ROOT__/public/static/picture/{$perfume.pictures}'><br>
{$shoplist.email}
</td>
<td>整体评价：

{for start="0" end="$shoplist.pjstar"}
<img src="__ROOT__/public/static/image/star1.svg" style="width:20px;height:20px">
{/for}
{for start="$shoplist.pjstar" end="5"}
<img src="__ROOT__/public/static/image/star.svg" style="width:20px;height:20px">
{/for}
</td>
<td align=right>评价时间：{$shoplist.pjtime}&nbsp;&nbsp;&nbsp;IP:{$shoplist.pjip}</td>
</tr>
<tr><td colspan=2>评价内容：{$shoplist.pjcontent}</tr>
</table>
{/foreach}
<!--评价循环结束 -->
</center>