{include  file="./public/common/top.html"/}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<link href="__ROOT__/public/static/css/prodList.css" rel="stylesheet" type="text/css">
	<style>
	    #pp2{
		width:9999px;
		height:9999px;
		animation:switch 15s infinite;
		}
		#pp2>img{
		float:left;
		}
		#pp1{
		width:999px;
		height:300px;
		overflow:hidden;
		margin-bottom:30px;
		}
		@keyframes switch{
		0%{};
		20%{transform:translateX(0px);}
		40%{transform:translateX(-999px);}
		60%{transform:translateX(-1998px);}
		80%{transform:translateX(-2997px);}
		100%{transform:translateX(-3996px);}
		}
		
	</style>
</head>
<body>
<center>
<div id="content" style="margin-top:0px;">

		<div id="pp1">
		    <div id="pp2">
			     <img src="__ROOT__/public/static/picture/poster.png"/>
			     <img src="__ROOT__/public/static/picture/poster1.png"/>
			     <img src="__ROOT__/public/static/picture/poster2.png"/>
			     <img src="__ROOT__/public/static/picture/poster3.png"/>
			     <img src="__ROOT__/public/static/picture/poster4.png"/>
			</div>
	    </div>
		<div id="search_div">
			<form method="post" action="{:url('index/index')}">
				<span class="input_span">商品名：<input type="text" name="pname"/></span>
				<span class="input_span">商品种类：
				<select name="pclass">
				<Option value="">不限</option>
				{foreach $pclasses as $pclass}
				<Option value="{$pclass.pclass}">{$pclass.pclass}</option>
				{/foreach}
				</select>
				</span>
				<span class="input_span">商品价格区间：<input type="text" name="minprice" value="0"/> - <input type="text" name="maxprice"  value="1000"/></span>
				<input type="submit" style="background-color:#D4B684;  border:2px solid #000; color:black" value="查 询">
			</form>
		</div>


	<div id="prod_content">
	{foreach $perfumes as $perfume}
		<div class="prod_div">
			<a href="__ROOT__/index.php/index/showperfume/perfumedetail.html?perfumeID={$perfume.perfumeID}">
				<img src="__ROOT__/public/static/picture/{$perfume.picturem}" border="0"/>
			</a>
				<div id="prod_name_div" style="font-size:15px">{$perfume.pname}</div>
				<div id="prod_price_div" style="color:#BB2732">￥{$perfume.yourprice}元</div>
				<div>
					<div id="gotocart_div">
					<a href="{:url('cart/addCart')}?perfumeID={$perfume.perfumeID}">加入购物车</a>
					</div>					
					<div id="say_div">{$perfume.SelledNum}人购买</div>					
				</div>
			</div>
		{/foreach}	
			
			<div style="clear: both"></div>
	</div>
</div>
</div>
	{include file="./public/common/bottom.html"/}
</center>
</body>
</html>